In [1]:
#Importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
#Importing the dataset
car_data = pd.read_json('turbo_az.json')
cars = pd.read_json('cars.json')
data = pd.concat([car_data, cars])
data = data.drop_duplicates()
data.reset_index(drop=True, inplace=True)

In [4]:
data.head()

,Şəhər,Marka,Model,Buraxılış ili,Ban növü,Rəng,Mühərrik,Mühərrikin gücü,Yanacaq növü,Yürüş,Sürətlər qutusu,Ötürücü,Yeni,Qiymət
0,Bakı,Lexus,LX 570,2016,Offroader / SUV,Boz,5.7 L,367 a.g.,Benzin,84 525 km,Avtomat,Tam,Xeyr,108 500 $
1,Bakı,SYM,Orbit III,2020,Motosiklet,Tünd qırmızı,0.1 L,2 a.g.,Benzin,0 km,Avtomat,Arxa,Bəli,3 300 AZN
2,Bakı,Hyundai,Elantra,2007,Sedan,Gümüşü,1.6 L,123 a.g.,Dizel,128 000 km,Avtomat,Ön,Xeyr,16 900 AZN
3,Bakı,LADA (VAZ),Vesta SW Cross,2021,Offroader / SUV,Ağ,1.6 L,113 a.g.,Benzin,0 km,Avtomat,Ön,Bəli,26 600 AZN
4,Bakı,Hyundai,Sonata,2011,Sedan,Ağ,2.0 L,165 a.g.,Benzin,152 000 km,Avtomat,Ön,Xeyr,26 000 AZN

In [5]:
data.shape

(1750, 14)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1750 entries, 0 to 1749
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Şəhər            1750 non-null   object
 1   Marka            1750 non-null   object
 2   Model            1750 non-null   object
 3   Buraxılış ili    1750 non-null   int64
 4   Ban növü         1750 non-null   object
 5   Rəng             1750 non-null   object
 6   Mühərrik         1750 non-null   object
 7   Mühərrikin gücü  1750 non-null   object
 8   Yanacaq növü     1750 non-null   object
 9   Yürüş            1750 non-null   object
 10  Sürətlər qutusu  1750 non-null   object
 11  Ötürücü          1750 non-null   object
 12  Yeni             1750 non-null   object
 13  Qiymət           1750 non-null   object
dtypes: int64(1), object(13)
memory usage: 102.6+ KB

In [7]:
data['Buraxılış ili'] = pd.to_numeric(data['Buraxılış ili'])

data['Age'] = pd.datetime.today().year - data['Buraxılış ili']
data.drop('Buraxılış ili', axis=1, inplace=True)

data['Mühərrik'] = data['Mühərrik'].str[:-1].str.strip().astype(float)

data['Mühərrikin gücü'] = data['Mühərrikin gücü'].str[:-4].str.strip().astype(float)

data['Yürüş'] = data['Yürüş'].str[:-2].str.strip().str.replace(' ','').astype(float)

data['Qiymət'] = data['Qiymət'].str.replace(' ','').astype(str)
x = data[data['Qiymət'].str.contains('AZN')==False]['Qiymət'].str[:-1].astype(int)*1.70
y = data[data['Qiymət'].str.contains('AZN')]['Qiymət'].str[:-3].astype(int)
data['Price'] = pd.concat([x,y])
data.drop('Qiymət', axis=1, inplace=True)

In [8]:
cat_data = data.select_dtypes(include=object)

pd.DataFrame({'Column':cat_data.columns, 'Unique':[cat_data[i].unique() for i in cat_data.columns], 'Count':[len(cat_data[i].unique()) for i in cat_data.columns]})

            Column                                             Unique  Count
0            Şəhər  [Bakı, Tərtər, Salyan, Gəncə, Siyəzən, Xırdala...     42
1            Marka  [Lexus, SYM, Hyundai, LADA (VAZ), BMW, Land Ro...     70
2            Model  [LX 570, Orbit III, Elantra, Vesta SW Cross, S...    378
3         Ban növü  [Offroader / SUV, Motosiklet, Sedan, Hetçbek /...     14
4             Rəng  [Boz, Tünd qırmızı, Gümüşü, Ağ, Yaş Asfalt, Qə...     16
5     Yanacaq növü              [Benzin, Dizel, Hibrid, Elektro, Qaz]      5
6  Sürətlər qutusu    [Avtomat, Mexaniki, Variator, Robotlaşdırılmış]      4
7          Ötürücü                                    [Tam, Arxa, Ön]      3
8             Yeni                                       [Xeyr, Bəli]      2

In [9]:
categorical = list(cat_data.iloc[:,5:].columns)
categorical

['Yanacaq növü', 'Sürətlər qutusu', 'Ötürücü', 'Yeni']

In [10]:
numerical = list(data.select_dtypes(exclude=object).iloc[:,:-1].columns)
numerical

['Mühərrik', 'Mühərrikin gücü', 'Yürüş', 'Age']

### Backward Elimination

In [11]:
# Encoding categorical data
# Avoiding the Dummy Variable Trap
auto = pd.DataFrame()
for i in categorical:
    dummies = pd.get_dummies(data[i], drop_first=True)
    auto = pd.concat([auto, dummies], axis = 1)

In [12]:
auto[numerical] = data[numerical]
auto = auto.values

In [13]:
y = data.iloc[:,-1].values
X = np.append(arr=np.ones((len(a),1), dtype=float), values=auto, axis=1)

NameError: name 'X' is not defined

In [ ]:
import statsmodels.api as sm
X_opt = np.array(X[:, [0,1,3,5,8,9,10,11,12,14]], dtype=float)
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

### Multiple Linear Regression

In [ ]:
data.head()

In [ ]:
#Seperating dependent and independent variables
X = data[categorical+numerical].values
y = data.iloc[:,-1]

In [ ]:
#Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X,y, test_size=0.20, random_state=0)

In [ ]:
print(train_X[0])
print(test_X[0])

In [ ]:
# Encoding the Independent Variable
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0,1,2,3])], remainder='passthrough')
train_X = np.array(ct.fit_transform(train_X))
test_X = np.array(ct.transform(test_X))

In [ ]:
print(train_X[0])
print(test_X[0])

In [ ]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
train_X[:, 14:] = sc.fit_transform(train_X[:,14:])
test_X[:,14:] = sc.transform(test_X[:,14:])

In [ ]:
print(train_X[0])
print(test_X[0])

In [ ]:
#Training the Multiple Linear Regression model on the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(train_X,train_y)

In [ ]:
#Predicting the Test set results
y_pred = regressor.predict(test_X)

In [ ]:
#Evaluating the Model Performance
from sklearn.metrics import r2_score
r2_score(test_y, y_pred)

Multiple Linear Regression has got only 59.7% accuracy.

### Polynomial Regression

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
poly_reg = PolynomialFeatures(degree = 2)
X_poly = poly_reg.fit_transform(train_X)
regressor = LinearRegression()
regressor.fit(X_poly, train_y)

In [ ]:
y_pred = regressor.predict(poly_reg.transform(test_X))

In [ ]:
from sklearn.metrics import r2_score
r2_score(test_y, y_pred)

Our data doesn't have non-linear relationship that's why we don't get satisfying results for Polynomial Regression.

### Support Vector Regression

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_y = StandardScaler()
y_train = sc_y.fit_transform(train_y.values.reshape(-1,1))

In [ ]:
from sklearn.svm import SVR
regressor = SVR(kernel='rbf')
regressor.fit(train_X, y_train)

In [ ]:
y_pred = sc_y.inverse_transform(regressor.predict(test_X))

In [ ]:
from sklearn.metrics import r2_score
r2_score(test_y, y_pred)

Support Vector Regression perform better than Multiple Regression Model with 83.7% accuracy.

### Decision Tree Regression

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0,1,2,3])], remainder='passthrough')
X_train = np.array(ct.fit_transform(X_train))
X_test = np.array(ct.transform(X_test))

In [ ]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train, y_train)

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
r2_score(y_test, y_pred)

Decision Tree Regression also has a good performance.

**Note**: We don't have to apply feature scaling for decision tree regression and neither for random forest regression, because predictions from decision tree regression and random forest regression model are resulting from successive splits of the data, and there aren't some equations like the other models.

### Random Forest Regression

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 1000, random_state = 0)
regressor.fit(X_train, y_train)

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
r2_score(y_test, y_pred)

With 89% accuracy Random Forest Regression has the best performance so far.